<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <title>All post</title>
</head>

<body>

    <div id="wrapper">
        <% include ./partials/body %>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
             <% if (message.length > 0)  {%>
                       <div class="alert alert-success"><%= message %></div>
             <% } %>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">All post</h1>
                    </div>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div id="dataTables-example_filter" class="dataTables_filter">
                                                <label>Search:
                                                    <input class="form-control input-sm" placeholder="" aria-controls="dataTables-example"
                                                        type="search">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
                                                id="dataTables-example" role="grid" aria-describedby="dataTables-example_info"
                                                style="width: 100%;" width="100%">
                                                <thead>
                                                    <tr role="row">
                                                        <th>Title</th>
                                                        <th>Descriptions</th>
                                                        <th>Created</th>
                                                        <th>Author</th>
                                                        <th>Image</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                  <% for (var index = 0; index < posts.length; index++) {%>
                                                    <tr class="gradeA odd" role="row">
                                                        <td><a href="/admin/all-post/<%= posts[index]._id%>/edit"><%= posts[index].title %></a></td>
                                                        <td><%= posts[index].descriptions %></td>
                                                        <td><%= posts[index].created.toDateString() %></td>
                                                        <td><%= posts[index].author %></td>
                                                        <td><img src="/static/<%= posts[index].imageUrl %>" width="300px"/></td>
                                                    </tr>
                                                  <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">Showing <%= ((current-1)*perPage) + 1%> to <%= (current*perPage <= count) ? current*perPage : count %> of <%= count %></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                            <% if (pages >0) {%>
                                                <ul class="pagination">
                                                  <% if (current == 1) {%>
                                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                                                        tabindex="0" id="dataTables-example_previous">
                                                        <a href="/admin/all-post/1">First</a>
                                                    </li>
                                                   <% } else {%>
                                                    <li class="paginate_button previous" aria-controls="dataTables-example"
                                                        tabindex="0" id="dataTables-example_previous">
                                                        <a href="/admin/all-post/1">First</a>
                                                    </li>
                                                   <% }%> 
                                                   <% var i = (Number(current > 5) ? Number(current) - 4: 1 )%>
                                                   <% if ( i !== 1) {%>
                                                     <li class="paginate_button disabled" aria-controls="dataTables-example"
                                                        tabindex="0">
                                                        <a href="#">...</a>
                                                     </li>
                                                   <% } %>
                                                   <% for (; i <= (Number(current) + 4) && i <= pages; i++) {%>
                                                   <% if ( i == current ) {%>
                                                     <li class="paginate_button active" aria-controls="dataTables-example"
                                                        tabindex="0">
                                                        <a ><%= i %></a>
                                                    </li>
                                                   <% } else {%>
                                                   <li class="paginate_button " aria-controls="dataTables-example" tabindex="0">
                                                        <a href="/admin/all-post/<%= i %>"><%= i %></a>
                                                    </li>
                                                   <% } %>

                                                   <% if (i == Number(current) + 4 && i <pages) {%>
                                                   <li class="paginate_button disabled" aria-controls="dataTables-example"
                                                        tabindex="0">
                                                        <a href="#">...</a>
                                                     </li>
                                                   <% } %>
                                                   <% } %>
                                                   <% if  (current == pages) {%>
                                                    <li class="paginate_button previous disabled" aria-controls="dataTables-example"
                                                        tabindex="0" id="dataTables-example_previous">
                                                        <a>Last</a>
                                                    </li>
                                                   <% } else {%>
                                                   <li class="paginate_button previous" aria-controls="dataTables-example"
                                                        tabindex="0" id="dataTables-example_previous">
                                                        <a href="/admin/all-post/<%= pages %>">Last</a>
                                                    </li>
                                                   <% } %>
                                                   
                                                </ul>
                                               <% } %> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
      <% include ./partials/script %>
</body>

</html>
