<html lang="en">

<head>

    <% include ./partial/head %>
</head>

<body>

    <!-- Navigation -->
    <% include ./partial/navigation %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/img/bg-index.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>My Tutorials</h1>
                        <span class="subheading">21st century is the century of programming</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
             <% for (var i =0; i < posts.length; i ++) { %>
                <div class="post-preview">
                    <a href="/post/<%= posts[i].slug%>">
                        <h2 class="post-title">
                            <%= posts[i].title %>
                        </h2>
                        <h3 class="post-subtitle">
                            <%= posts[i].descriptions %>
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#"><%= posts[i].author %></a> on 
                        <%= posts[i].created.toDateString() %></p>
                </div>
                <hr>
                <% } %>
                <!-- Pager -->
                <div class="clearfix">
                <% if (page > 1) { %>
                 <a class="btn btn-primary float-left" href="/q?page=<%= page - 1 %>">Newer Posts →</a>
                <% } %>
                <% if (perPage*page < count) {%>
                <a class="btn btn-primary float-right" href="/q?page=<%= (page + 1) %>">Older Posts →</a>
                <% } %>
                    
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
   <% include ./partial/footer %>

</body>
</html>