<html lang="en">

<head>

    <% include ./partial/head %>

</head>

<body>

    <!-- Navigation -->
    <% include ./partial/navigation %>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/static/<%= post.imageUrl %>')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1><%= post.title %></h1>
                        <h2 class="subheading"><%= post.descriptions %></h2>
                        <span class="meta">Posted by
                            <em><%= post.author %></em>
                            on <%= post.created.toDateString() %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <%- post.content %>
                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    <% include ./partial/footer %>



</body>

</html>